<div class="head" style="background-color: white;">
  <div class="text-center">
    <%= image_tag('dbz.jpg')%>
    <ul class="list-inline">
      <li><%= link_to "Home", root_path, class: "navbar-wagon-item navbar-wagon-link"%></li>
      <li><%= link_to "Biografia", pages_biografia_path, class: "navbar-wagon-item navbar-wagon-link"%></li>
      <li><%= link_to "Carrera", pages_carrera_path, class: "navbar-wagon-item navbar-wagon-link"%></li>
      <li><%= link_to "Videos", root_path, class: "navbar-wagon-item navbar-wagon-link"%></li>
      <li><%= link_to "Contact", root_path, class: "navbar-wagon-item navbar-wagon-link"%></li>
    </ul>
  </div>
</div>
