<div class="container pad">
  <h2>Carrera</h2>
  <ul class="nav nav-tabs time-line">
    <li class="active"><a data-toggle="tab" href="#home">2017</a></li>
    <li><a data-toggle="tab" href="#menu1">2016</a></li>
    <li><a data-toggle="tab" href="#menu2">2015</a></li>
    <li><a data-toggle="tab" href="#menu3">2014</a></li>
    <li><a data-toggle="tab" href="#menu4">2013</a></li>
    <li><a data-toggle="tab" href="#menu5">2012</a></li>
    <li><a data-toggle="tab" href="#menu6">2011</a></li>
    <li><a data-toggle="tab" href="#menu7">2010</a></li>
    <li><a data-toggle="tab" href="#menu8">2009</a></li>
    <li><a data-toggle="tab" href="#menu9">2008</a></li>
    <li><a data-toggle="tab" href="#menu10">2007</a></li>
  </ul>

  <div class="tab-content">
    <div id="home" class="tab-pane fade in active">
      <div class="card" style="background-image:url('<%= image_path('carrera.jpg')%>');background-position: center;"><div class="card-content col-sm-6">
        <h3>2017</h3>
        <p>5to. PAN AMERICAN CHAMPIONSHIPS PANAMA 1er. Medalla de Oro GRAND SLAM en Ekaterinburg
          <br>
          2do. Cancún Grand Prix Medalla de plata - Mexico
          <br>
          5to. World Championships Budapest Hungría
        </p>
      </div>
    </div>
  </div>
  <div id="menu1" class="tab-pane">
    <div class="card" style="background-image:url('<%= image_path('carrera.jpg')%>');background-position: center;"><div class="card-content col-sm-6">
      <h3>2017</h3>
      <p>5to. PAN AMERICAN CHAMPIONSHIPS PANAMA 1er. Medalla de Oro GRAND SLAM en Ekaterinburg
        <br>
        2do. Cancún Grand Prix Medalla de plata - Mexico
        <br>
        5to. World Championships Budapest Hungría
      </p>
    </div>
  </div>
</div>
<div id="menu2" class="tab-pane fade">
  <div class="card" style="background-image:url('<%= image_path('carrera.jpg')%>');background-position: center;"><div class="card-content col-sm-6">
    <h3>2017</h3>
    <p>5to. PAN AMERICAN CHAMPIONSHIPS PANAMA 1er. Medalla de Oro GRAND SLAM <br> en Ekaterinburg
      <br>
      2do. Cancún Grand Prix Medalla de plata - Mexico
      <br>
      5to. World Championships Budapest Hungría
    </p>
  </div>
</div>
</div>
<div id="menu3" class="tab-pane fade">
  <div class="card" style="background-image:url('<%= image_path('carrera.jpg')%>');background-position: center;"><div class="card-content col-sm-6">
    <h3>2017</h3>
    <p>5to. PAN AMERICAN CHAMPIONSHIPS PANAMA 1er. Medalla de Oro GRAND SLAM <br> en Ekaterinburg
      <br>
      2do. Cancún Grand Prix Medalla de plata - Mexico
      <br>
      5to. World Championships Budapest Hungría
    </p>
  </div>
</div>
</div>
<div id="menu4" class="tab-pane fade">
  <div class="card" style="background-image:url('<%= image_path('carrera.jpg')%>');background-position: center;"><div class="card-content col-sm-6">
    <h3>2017</h3>
    <p>5to. PAN AMERICAN CHAMPIONSHIPS PANAMA 1er. Medalla de Oro GRAND SLAM <br> en Ekaterinburg
      <br>
      2do. Cancún Grand Prix Medalla de plata - Mexico
      <br>
      5to. World Championships Budapest Hungría
    </p>
  </div>
</div>
</div>
<div id="menu5" class="tab-pane fade">
  <div class="card" style="background-image:url('<%= image_path('carrera.jpg')%>');background-position: center;"><div class="card-content col-sm-6">
    <h3>2017</h3>
    <p>5to. PAN AMERICAN CHAMPIONSHIPS PANAMA 1er. Medalla de Oro GRAND SLAM <br> en Ekaterinburg
      <br>
      2do. Cancún Grand Prix Medalla de plata - Mexico
      <br>
      5to. World Championships Budapest Hungría
    </p>
  </div>
</div>
</div>
<div id="menu6" class="tab-pane fade">
  <div class="card" style="background-image:url('<%= image_path('carrera.jpg')%>');background-position: center;"><div class="card-content col-sm-6">
    <h3>2017</h3>
    <p>5to. PAN AMERICAN CHAMPIONSHIPS PANAMA 1er. Medalla de Oro GRAND SLAM <br> en Ekaterinburg
      <br>
      2do. Cancún Grand Prix Medalla de plata - Mexico
      <br>
      5to. World Championships Budapest Hungría
    </p>
  </div>
</div>
</div>
<div id="menu7" class="tab-pane fade">
  <div class="card" style="background-image:url('<%= image_path('carrera.jpg')%>');background-position: center;"><div class="card-content col-sm-6 pad">
    <h3>2010</h3>
    <p>5. Grand Prix Abu Dhabi GP U57 <br>
      2. World Team Championships Antalya WTC U57 <br>
      5. World Cup Birmingham WCup U57 <br>
      5. World Cup Tallinn WCup U57 <br>
      3. World Cup Bucharest WCup U57 <br>
      2. IJF World Cup Cairo WCup U57 <br>
      3. Grand Prix Tunis GP U57
    </p>
  </div>
</div>
</div>
<div id="menu8" class="tab-pane fade">
  <div class="card" style="background-image:url('<%= image_path('carrera.jpg')%>');background-position: center;"><div class="card-content col-sm-6">
    <h3>2009</h3>
    <p>
      3. GB World Cup Birmingham WCup U57
      <br>
      3. German Open Sindelfingen ECup U57
    </p>
  </div>
</div>
</div>
<div id="menu9" class="tab-pane fade">
  <div class="card" style="background-image:url('<%= image_path('carrera.jpg')%>');background-position: center;"><div class="card-content col-sm-6">
    <h3>2008</h3>
    <p>
      3. World Championships Teams Tokyo WTC U57
      <br>
      2. German Open Braunschweig ECup U57
    </p>
  </div>
</div>
</div>
<div id="menu10" class="tab-pane fade">
  <div class="card" style="background-image:url('<%= image_path('carrera.jpg')%>');background-position: center;"><div class="card-content col-sm-6">
    <h3>2007</h3>
    <p>3. Super World Cup Hamburg SWC U57</p>
  </div>
</div>
</div>
</div>
</div>
