<div class="container pad">
  <h2>Carrera</h2>
  <ul class="nav nav-tabs time-line">
    <li class="active"><a data-toggle="tab" href="#home">2017</a></li>
    <li><a data-toggle="tab" href="#menu1">2016</a></li>
    <li><a data-toggle="tab" href="#menu2">2015</a></li>
    <li><a data-toggle="tab" href="#menu3">2014</a></li>
    <li><a data-toggle="tab" href="#menu4">2013</a></li>
    <li><a data-toggle="tab" href="#menu5">2012</a></li>
    <li><a data-toggle="tab" href="#menu6">2011</a></li>
    <li><a data-toggle="tab" href="#menu7">2010</a></li>
    <li><a data-toggle="tab" href="#menu8">2009</a></li>
    <li><a data-toggle="tab" href="#menu9">2008</a></li>
    <li><a data-toggle="tab" href="#menu10">2007</a></li>
  </ul>

  <div class="tab-content">
    <div id="home" class="tab-pane fade in active">
      <div class="card" style="background-image:url('<%= image_path('carrera.jpg')%>');background-position: center;"><div class="card-content col-sm-6">
        <h3>2017</h3>
        <p>5to. PAN AMERICAN CHAMPIONSHIPS PANAMA 1er. Medalla de Oro GRAND SLAM en Ekaterinburg
          <br>
          2do. Cancún Grand Prix Medalla de plata - Mexico
          <br>
          5to. World Championships Budapest Hungría
        </p>
      </div>
    </div>
  </div>
  <div id="menu1" class="tab-pane">
    <div class="card" style="background-image:url('<%= image_path('carrera.jpg')%>');background-position: center;"><div class="card-content col-sm-6">
      <h3>2017</h3>
      <p>
        2. Golden League women Grozny ECC U57 <br>
        Participation Olympic Games Rio de Janeiro <br>
        5. Grand Slam Baku GSL U57 <br>
        7. European Championships Kazan ECh U57 <br>
        3. Grand Prix Samsun GP U57 <br>
        3. Grand Prix Tbilisi GP U57 <br>
        7. Grand Prix Havana GP U57 <br>
      </p>
    </div>
  </div>
</div>
<div id="menu2" class="tab-pane fade">
  <div class="card" style="background-image:url('<%= image_path('carrera.jpg')%>');background-position: center;"><div class="card-content col-sm-6">
    <h3>2015</h3>
    5. Grand Slam Tokyo GSL U57 <br>
    2. Grand Prix Qingdao GP U57 <br>
    7. Grand Slam Paris GSL U57 <br>
    3. World Team Championships Astana WTC U57 <br>
    2. European Games Baku teams ETC U57 <br>
    3. European Games Baku ECh U57 <br>
    7. Grand Prix Budapest GP U57 <br>
    3. Grand Slam Baku GSL U57 <br>
    3. Grand Prix Tbilisi GP U57 <br>
    1. German Championships Bonn NC U57
  </p>
</div>
</div>
</div>
<div id="menu3" class="tab-pane fade">
  <div class="card" style="background-image:url('<%= image_path('carrera.jpg')%>');background-position: center;"><div class="card-content col-sm-6">
    <h3>2014</h3>
    <p>
      7. Grand Prix Jeju GP U57 <br>
      1. Grand Prix Qingdao GP U57 <br>
      3. World Team Championships Chelyabinsk WTC U57 <br>
      7. Grand Prix Budapest GP U57 <br>
      5. Grand Prix Havana GP U57 <br>
      2. European Team Championships Montpellier ETC U57 <br>
      2. European Championships Montpellier ECh U57 <br>
      2. Grand Prix Samsun GP U57 <br>
      5. Grand Prix Düsseldorf GP U57
    </p>
  </div>
</div>
</div>
<div id="menu4" class="tab-pane fade">
  <div class="card" style="background-image:url('<%= image_path('carrera.jpg')%>');background-position: center;"><div class="card-content col-sm-6">
    <h3>2013</h3>
    <p>
      1. IJF World Ranking Leader U57 2013 <br>
      1. European Club Championships women ECC U57 <br>
      7. Grand Slam Tokyo GSL U57 <br>
      1. Grand Prix Abu Dhabi GP U57 <br>
      1. Grand Prix Rijeka GP U57 <br>
      3. World Championships Rio de Janeiro WCh U57 <br>
      1. IJF Grand Slam Moscow GSL U57 <br>
      3. Grand Prix Miami GP U57 <br>
      1. IJF Grand Slam Baku GSL U57 <br>
      3. European Team Championships Budapest ETC U57 <br>
      7. Grand Prix Samsun GP U57
    </p>
  </div>
</div>
</div>
<div id="menu5" class="tab-pane fade">
  <div class="card" style="background-image:url('<%= image_path('carrera.jpg')%>');background-position: center;"><div class="card-content col-sm-6">
    <h3>2012</h3>
    <p>3. World Cup Istanbul WCup U57 <br>
      Participation Olympic Games London <br>
      3. European Team Championships Chelyabinsk ETC U57 <br>
      3. European Championships Chelyabinsk ECh U57 <br>
      2. World Cup Budapest WCup U57 <br>
      5. Grand Slam Paris GSL U57 <br>
      1. World Cup Sofia WCup U57
    </p>
  </div>
</div>
</div>
<div id="menu6" class="tab-pane fade">
  <div class="card" style="background-image:url('<%= image_path('carrera.jpg')%>');background-position: center;"><div class="card-content col-sm-6">
    <h3>2011</h3>
    <p>
      5. Grand Prix Abu Dhabi GP U57 <br>
      5. World Championships Paris WCh U57 <br>
      2. PJC World Cup Miami WCup U57 <br>
      2. European Team Championships Istanbul ETC U57 <br>
      7. World Cup Prague WCup U57 <br>
      5. Grand Prix Düsseldorf GP U57 <br>
      1. World Cup Sofia WCup U57 <br>
      2. German Championships Ettlingen NC U57
    </p>
  </div>
</div>
</div>
<div id="menu7" class="tab-pane fade">
  <div class="card" style="background-image:url('<%= image_path('carrera.jpg')%>');background-position: center;"><div class="card-content col-sm-6 pad">
    <h3>2010</h3>
    <p>5. Grand Prix Abu Dhabi GP U57 <br>
      2. World Team Championships Antalya WTC U57 <br>
      5. World Cup Birmingham WCup U57 <br>
      5. World Cup Tallinn WCup U57 <br>
      3. World Cup Bucharest WCup U57 <br>
      2. IJF World Cup Cairo WCup U57 <br>
      3. Grand Prix Tunis GP U57
    </p>
  </div>
</div>
</div>
<div id="menu8" class="tab-pane fade">
  <div class="card" style="background-image:url('<%= image_path('carrera.jpg')%>');background-position: center;"><div class="card-content col-sm-6">
    <h3>2009</h3>
    <p>
      3. GB World Cup Birmingham WCup U57
      <br>
      3. German Open Sindelfingen ECup U57
    </p>
  </div>
</div>
</div>
<div id="menu9" class="tab-pane fade">
  <div class="card" style="background-image:url('<%= image_path('carrera.jpg')%>');background-position: center;"><div class="card-content col-sm-6">
    <h3>2008</h3>
    <p>
      3. World Championships Teams Tokyo WTC U57
      <br>
      2. German Open Braunschweig ECup U57
    </p>
  </div>
</div>
</div>
<div id="menu10" class="tab-pane fade">
  <div class="card" style="background-image:url('<%= image_path('carrera.jpg')%>');background-position: center;"><div class="card-content col-sm-6">
    <h3>2007</h3>
    <p>3. Super World Cup Hamburg SWC U57</p>
  </div>
</div>
</div>
</div>
</div>
