<div class="about">
 <div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 text-center padded frame">
      <%= image_tag("mr-id.png")%>
    </div>
    <div class="col-xs-12 col-sm-6">
      <h3>Contact me</h3>
      <%= simple_form_for @letter do |f| %>
      <%= f.input :name %>
      <%= f.input :email %>
      <%= f.input :message %>
      <%= f.button :submit,class: "btn btn-info",style: "border-radius: 50px;" %>
      <% end %>
    </div>
  </div>
</div>
<br>
<br>
</div>
